useDynLib(SpatialPack, .registration = TRUE)

## required package
import(fastmatrix)

## base packages
importFrom("graphics",
           plot, title)
importFrom("stats",
           complete.cases, cor, lm, pf)

## our exports:
export(clipping, codisp, cor.spatial, CQ, denoise, imnoise, modified.Ftest, modified.ttest,
       normalize, RGB2gray, SSIM)

## register S3 methods
S3method(print, codisp)
S3method(plot, codisp)
S3method(print, mod.Ftest)
S3method(summary, mod.Ftest)
S3method(print, summary.mod.Ftest)
S3method(print, mod.ttest)
S3method(summary, mod.ttest)
S3method(print, summary.mod.ttest)
